.claude
.vscode
.venv
assignment1_report.log
assignment1_report.fls
assignment1_report.aux
assignment1_report.synctex.gz
assignment1_report.fdb_latexmk
submission_sample.csv
test_set_VU_DM.csv
training_set_VU_DM.csv